<div class="min-vh-100 d-flex flex-row align-items-center">
  <div class="grid w-full">
    <!-- Form bên trái -->
    <div class="col-8 flex justify-content-center align-items-center">
      <p-card class="w-8 shadow-2 p-4">
        <a href="/login" style="width: 2rem; height: 2rem">
          <i class="pi pi-arrow-left" style="font-size: 2rem"></i>
        </a>

        <h2 class="text-center mb-4">Quên Mật Khẩu</h2>

        <!-- <p-message severity="success"></p-message>
        <p-message severity="error"></p-message> -->

        <form>
          <div class="field">
            <label for="email"><i class="pi pi-envelope"></i> Email</label>
            <input
              id="email"
              type="email"
              pInputText
              placeholder="Nhập email của bạn"
              name="email"
              required
            />
          </div>

          <button
            pButton
            type="submit"
            label="Đang gửi"
            class="w-full mt-3"
          ></button>
        </form>
      </p-card>
    </div>

    <!-- Ảnh bên phải -->
    <div class="col-4 flex justify-content-center align-items-center">
      <img
        src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1095.jpg"
        alt="Sample"
        class="img-fluid"
        style="max-width: 100%"
      />
    </div>
  </div>
</div>
